@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-3">
        <a href=""> <img src="/Image/bridge.jpg" class="rounded" alt="Cinque Terre" width="456" height="236"></a>
        <a href=""> <img src="/Image/bridge.jpg" class="rounded" alt="Cinque Terre" width="456" height="236"></a><br />
        <a href=""> <img src="/Image/bridge.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"></a>
        <a href=""> <img src="/Image/bridge.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"></a>
        <a href=""> <img src="/Image/bridge.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"></a>
       
    </div>
    
</div>
<div class="text-center">
  
</div>